<div x-data class="flex flex-col gap-y-2">
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" checked="checked"/>
    <div class="collapse-title text-xl font-medium flex gap-x-3 items-center">

      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-rounded-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 12h6"/>
        <path d="M12 9v6"/>
        <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"/>
      </svg>
      <span>Set Session data</span>
    </div>
    <div class="collapse-content">
      <%= form_with url: session_data_path, class: 'flex items-center gap-6' do |f| %>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Set Key</span>
          </label>
          <%= f.text_field :session_key, placeholder: 'Enter session key name', class: 'input input-bordered w-full max-w-xs' %>
        </div>

        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Set Value</span>
          </label>
          <%= f.text_field :session_value, placeholder: 'Enter value', class: 'input input-bordered w-full max-w-xs' %>
        </div>

        <button type="submit" class="mt-8">
          <div class="form-control w-full max-w-xs">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-rounded-plus" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 12h6"/>
              <path d="M12 9v6"/>
              <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"/>
            </svg>
          </div>
        </button>
      <% end %>
    </div>
  </div>
  <% @session_data.each do |session_key, value| %>
    <div class="collapse collapse-arrow bg-base-200">
      <input type="radio" name="my-accordion-2" checked="checked"/>
      <div class="collapse-title text-xl font-medium">
        <%= session_key %>
      </div>
      <div class="collapse-content">
        <div class="flex items-center justify-between">

          <p><%= value %></p>
          <div>
            <%= button_to session_data_path, method: :delete, params: { session_key_name: session_key } do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7l16 0"/>
                <path d="M10 11l0 6"/>
                <path d="M14 11l0 6"/>
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
              </svg>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
