<!DOCTYPE html>
<html>
<head>
  <title>Data pact</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>

  <%#= stylesheet_link_tag    "data_pact/application", media: "all" %>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.0/dist/full.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<script type="text/javascript" charset="utf-8">
  (function () {
    document.body.dataset.theme = localStorage.getItem('theme') || 'light';
  })();
</script>

<div class="h-screen w-screen">
  <div class="navbar bg-base-100 border-b border-base-200">
    <div class="flex-1">
      <div class="btn btn-ghost normal-case text-xl">DataPact</div>
      <%= link_to 'Routes', routes_path, class: 'btn btn-ghost normal-case text-lg font-medium' %>
      <%= link_to 'Session Data', session_data_path, class: 'btn btn-ghost normal-case text-lg font-medium' %>
      <%= link_to 'Settings', settings_path, class: 'btn btn-ghost normal-case text-lg font-medium' %>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>
      </div>
    </div>
  </div>
  <div class="my-3 mx-6">
    <%= yield %>
  </div>
</div>
</body>
</html>
